# Pandas Fundementals exercises

## 1. Cities in Sweden - create dataset

In [92]:
import pandas as pd

cities_Data = dict(Malmö = 347949, Stockholm = 975551, Uppsala = 233839, Göteborg = 583056)

cities_Series = pd.Series(data=cities_Data)
cities_DataFrame = pd.DataFrame(cities_Series)
cities_DataFrame

                0
Malmö      347949
Stockholm  975551
Uppsala    233839
Göteborg   583056

### Prints out Göteborgs population count

In [95]:
cities_Series["Göteborg"]

583056

### Sorts population form largest to smallest

In [16]:
sorted_Cities = cities_Series.sort_values(ascending = False)
sorted_Cities

Stockholm    975551
Göteborg     583056
Malmö        347949
Uppsala      233839
dtype: int64

### Filters out the three largest cities

In [17]:
sorted_Cities.head(3)

Stockholm    975551
Göteborg     583056
Malmö        347949
dtype: int64

### Total % of population in City

In [20]:
totalPopulation = 10379295
procent_Per_City = pd.Series(dict(Malmö = (347949/totalPopulation)*100, Stockholm = (975551/totalPopulation)*100, Uppsala = (233839/totalPopulation)*100, Göteborg = (583056/totalPopulation)*100))
df = pd.DataFrame({"Cities":cities_Series, "Procent_Per_City": procent_Per_City})
df

           Cities  Procent_Per_City
Malmö      347949          3.352338
Stockholm  975551          9.399010
Uppsala    233839          2.252937
Göteborg   583056          5.617491

## 2. Cities in Sweden - real dataset

In [176]:
import pandas as pd
import seaborn as sns
cities = pd.read_excel("Exercise_Data/komtopp50_2020.xlsx", header = 6, sheet_name="Totalt")
cities.head()

   2020  2019 Unnamed: 2  2020.1  2019.1         %
0    83    84        Ale   31868   31402  1.483982
1    64    64   Alingsås   41602   41420  0.439401
2   123   123    Alvesta   20224   20134  0.447005
3   255   255      Aneby    6821    6848 -0.394276
4   169   167     Arboga   14039   14087 -0.340740

In [177]:
cities.columns
cities2 = cities.rename({"2019": "Rang 2019", "2020": "Rang 2020", "Unnamed: 2": "Kommun", "2020.1": "Folkmängd 2020", "2019.1": "Folkmängd 2019", "Unnamed: 5": "Förändring"}, axis = "columns")
cities2

     2020  2019        Kommun  Folkmängd 2020  Folkmängd 2019         %
0      83    84           Ale           31868           31402  1.483982
1      64    64      Alingsås           41602           41420  0.439401
2     123   123       Alvesta           20224           20134  0.447005
3     255   255         Aneby            6821            6848 -0.394276
4     169   167        Arboga           14039           14087 -0.340740
..    ...   ...           ...             ...             ...       ...
285    54    55     Österåker           46644           45574  2.347830
286   116   115     Östhammar           22251           22250  0.004494
287   160   159  Östra Göinge           15017           15007  0.066636
288   284   284     Överkalix            3289            3315 -0.784314
289   279   279    Övertorneå            4217            4299 -1.907420

[290 rows x 6 columns]

In [178]:
cities_Sorted = cities2.sort_values(by="Folkmängd 2020", ascending=False)
cities_Sorted

     2020  2019     Kommun  Folkmängd 2020  Folkmängd 2019         %
198     1     1  Stockholm          975551          974073  0.151734
57      2     2   Göteborg          583056          579281  0.651670
134     3     3      Malmö          347949          344166  1.099179
241     4     4    Uppsala          233839          230767  1.331213
124     5     5  Linköping          164616          163051  0.959822
..    ...   ...        ...             ...             ...       ...
271   286   286      Åsele            2805            2794  0.393701
5     287   287   Arjeplog            2718            2785 -2.405745
29    288   288    Dorotea            2498            2551 -2.077617
194   289   289    Sorsele            2442            2489 -1.888309
12    290   290   Bjurholm            2387            2408 -0.872093

[290 rows x 6 columns]

In [179]:
cities_Sorted.tail(6)

     2020  2019    Kommun  Folkmängd 2020  Folkmängd 2019         %
136   285   285      Malå            3024            3068 -1.434159
271   286   286     Åsele            2805            2794  0.393701
5     287   287  Arjeplog            2718            2785 -2.405745
29    288   288   Dorotea            2498            2551 -2.077617
194   289   289   Sorsele            2442            2489 -1.888309
12    290   290  Bjurholm            2387            2408 -0.872093

TypeError: f() missing 1 required positional argument: 'other'