# Pandas Fundementals exercises

## 1. Cities in Sweden - create dataset

In [11]:
import pandas as pd

cities_Data = dict(Malmö = 347949, Stockholm = 975551, Uppsala = 233839, Göteborg = 583056)

cities_Series = pd.Series(data=cities_Data)
cities_DataFrame = pd.DataFrame(cities_Series)
cities_DataFrame

                0
Malmö      347949
Stockholm  975551
Uppsala    233839
Göteborg   583056

### Prints out Göteborgs population count

In [12]:
cities_Series["Göteborg"]

583056

### Sorts population form largest to smallest

In [16]:
sorted_Cities = cities_Series.sort_values(ascending = False)
sorted_Cities

Stockholm    975551
Göteborg     583056
Malmö        347949
Uppsala      233839
dtype: int64

### Filters out the three largest cities

In [17]:
sorted_Cities.head(3)

Stockholm    975551
Göteborg     583056
Malmö        347949
dtype: int64

### Total % of population in City

In [20]:
totalPopulation = 10379295
procent_Per_City = pd.Series(dict(Malmö = (347949/totalPopulation)*100, Stockholm = (975551/totalPopulation)*100, Uppsala = (233839/totalPopulation)*100, Göteborg = (583056/totalPopulation)*100))
df = pd.DataFrame({"Cities":cities_Series, "Procent_Per_City": procent_Per_City})
df

           Cities  Procent_Per_City
Malmö      347949          3.352338
Stockholm  975551          9.399010
Uppsala    233839          2.252937
Göteborg   583056          5.617491