# Missing data and aggregations

## 1. Find missing values

In [55]:
import pandas as pd

students = pd.read_csv("Exercise_Data/student-mat-missing-data.csv")
students

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,...,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,GP,F,17.0,U,GT3,T,1,1,at_home,...,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,GP,F,15.0,U,LE3,T,1,1,at_home,...,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,GP,F,15.0,U,GT3,T,4,2,health,...,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,GP,F,16.0,U,GT3,T,3,3,other,...,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,MS,M,20.0,U,LE3,A,2,2,services,...,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9
391,391,MS,M,17.0,U,LE3,T,3,1,services,...,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16
392,392,MS,M,21.0,R,GT3,T,1,1,other,...,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7
393,393,MS,M,18.0,R,LE3,T,3,2,services,...,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10
394,394,MS,M,19.0,U,LE3,T,1,1,other,...,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9

In [48]:
students.columns

Index(['Unnamed: 0', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [9]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  395 non-null    int64
 1   school      395 non-null    object
 2   sex         395 non-null    object
 3   age         381 non-null    float64
 4   address     390 non-null    object
 5   famsize     395 non-null    object
 6   Pstatus     395 non-null    object
 7   Medu        395 non-null    int64
 8   Fedu        395 non-null    int64
 9   Mjob        395 non-null    object
 10  Fjob        395 non-null    object
 11  reason      395 non-null    object
 12  guardian    395 non-null    object
 13  traveltime  395 non-null    int64
 14  studytime   395 non-null    int64
 15  failures    395 non-null    int64
 16  schoolsup   395 non-null    object
 17  famsup      395 non-null    object
 18  paid        395 non-null    object
 19  activities  395 non-null    object
 20  nursery     395 non-null    object
 21  higher      395 non-null    object
 22  internet    395 non-null    object
 23  romantic    395 non-null    object
 24  famrel      390 non-null    float64
 25  freetime    379 non-null    float64
 26  goout       390 non-null    float64
 27  Dalc        395 non-null    int64
 28  Walc        395 non-null    int64
 29  health      390 non-null    float64
 30  absences    390 non-null    float64
 31  G1          395 non-null    int64
 32  G2          395 non-null    int64
 33  G3          395 non-null    int64
dtypes: float64(6), int64(11), object(17)
memory usage: 105.0+ KB

In [10]:
students.describe()

,Unnamed: 0,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,381.000000,395.000000,395.000000,395.000000,395.000000,395.000000,390.000000,379.000000,390.000000,395.000000,395.000000,390.000000,390.000000,395.000000,395.000000,395.000000
mean,197.000000,16.700787,2.749367,2.521519,1.448101,2.035443,0.334177,3.943590,3.237467,3.120513,1.481013,2.291139,3.548718,5.569231,10.908861,10.713924,10.415190
std,114.170924,1.275157,1.094735,1.088201,0.697505,0.839240,0.743651,0.896665,0.990201,1.112370,0.890741,1.287897,1.394604,7.232395,3.319195,3.761505,4.581443
min,0.000000,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,98.500000,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,197.000000,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,295.500000,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,394.000000,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,56.000000,19.000000,19.000000,20.000000

In [11]:
students.value_counts()

Unnamed: 0  school  sex  age   address  famsize  Pstatus  Medu  Fedu  Mjob      Fjob      reason      guardian  traveltime  studytime  failures  schoolsup  famsup  paid  activities  nursery  higher  internet  romantic  famrel  freetime  goout  Dalc  Walc  health  absences  G1  G2  G3
0           GP      F    18.0  U        GT3      A        4     4     at_home   teacher   course      mother    2           2          0         yes        no      no    no          yes      yes     no        no        4.0     3.0       4.0    1     1     3.0     6.0       5   6   6     1
258         GP      M    18.0  U        GT3      T        2     1     other     other     home        mother    1           2          0         no         no      no    yes         yes      yes     yes       no        5.0     2.0       4.0    1     2     4.0     8.0       15  14  14    1
267         GP      F    18.0  R        GT3      T        4     4     teacher   other     reputation  mother    2           2          0         no         no      yes   yes         yes      yes     yes       no        4.0     3.0       4.0    2     2     4.0     8.0       12  10  11    1
266         GP      M    17.0  U        GT3      T        3     1     services  other     other       mother    1           2          0         no         no      yes   yes         yes      yes     yes       yes       5.0     4.0       4.0    3     4     5.0     2.0       9   9   10    1
265         GP      M    18.0  R        LE3      A        3     4     other     other     reputation  mother    2           2          0         no         yes     yes   yes         yes      yes     yes       no        4.0     2.0       5.0    3     4     1.0     13.0      17  17  17    1
                                                                                                                                                                                                                                                                                               ..
128         GP      M    18.0  R        GT3      T        2     2     services  other     reputation  mother    1           1          2         no         yes     no    yes         yes      yes     yes       no        3.0     3.0       3.0    1     2     4.0     0.0       7   4   0     1
127         GP      F    19.0  U        GT3      T        0     1     at_home   other     course      other     1           2          3         no         yes     no    no          no       no      no        no        3.0     4.0       2.0    1     1     5.0     2.0       7   8   9     1
126         GP      F    15.0  U        LE3      A        3     4     other     other     home        mother    1           2          0         yes        no      no    yes         yes      yes     yes       yes       5.0     3.0       2.0    1     1     1.0     0.0       7   10  11    1
125         GP      M    15.0  U        GT3      T        3     4     services  services  home        father    1           1          0         yes        no      no    no          yes      yes     yes       no        5.0     5.0       5.0    3     2     5.0     0.0       13  13  12    1
394         MS      M    19.0  U        LE3      T        1     1     other     at_home   course      father    1           1          0         no         no      no    no          yes      yes     yes       no        3.0     2.0       3.0    3     3     5.0     5.0       8   9   9     1
Length: 370, dtype: int64

In [36]:
students.nunique()

Unnamed: 0    395
school          2
sex             2
age             8
address         2
famsize         2
Pstatus         2
Medu            5
Fedu            5
Mjob            5
Fjob            5
reason          4
guardian        3
traveltime      4
studytime       4
failures        4
schoolsup       2
famsup          2
paid            2
activities      2
nursery         2
higher          2
internet        2
romantic        2
famrel          5
freetime        5
goout           5
Dalc            5
Walc            5
health          5
absences       33
G1             17
G2             17
G3             18
dtype: int64

In [62]:
students.isnull().nunique().sum()

41

In [67]:
import seaborn as sns
sns.barplot(data=students, x=students.isnull())

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().